/* Layout */
.demo-layout-transparent {
  background: url('../assets/images/transparent.jpg') center / cover;
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  color: white;
}

/* titulo */
.titulo {
  cursor: pointer;
}

#lupa {
  cursor: pointer;
}

/* Tablas */
#div_tabla {
  display: flex;
  justify-content: center;
}

table {
  display: inline-block;
  overflow-x: auto;
  white-space: nowrap;
}

.table td {
  overflow: auto;
  max-width: 300px;
}

@media only screen and (max-width: 900px) {

  .mdl-cell table,
  .mdl-cell thead,
  .mdl-cell tbody,
  .mdl-cell th,
  .mdl-cell td,
  .mdl-cell tr {
    display: block;
  }

  .mdl-cell thead {
    display: none;
  }

  .mdl-cell .mdl-data-table tbody tr {
    height: auto;
  }

  .mdl-cell .mdl-data-table tbody tr:nth-child(even) {
    background-color: #eee;
  }

  .mdl-data-table td {
    height: initial;
    max-width: initial;
  }

  .mdl-cell .mdl-data-table td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding: 6px 18px 0;
    white-space: nowrap;
    content: attr(data-label);
    text-align: left;
    color: rgba(0, 0, 0, 0.541176);
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
  }

  .mdl-cell .mdl-data-table td:last-of-type {
    padding-right: 18px;
  }

  .mdl-cell .mdl-data-table__cell--non-numeric.mdl-data-table__cell--non-numeric {
    text-align: right;
  }

}

/* Boton busqueda */
.mdh-expandable-search {
  margin: 0 50px;
  align-items: center;
  justify-content: center;
}

.mdh-expandable-search form {
  max-width: 200px;
}

.mdh-expandable-search,
.mdh-expandable-search form,
.mdh-expandable-search input {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.mdh-expandable-search,
.mdh-expandable-search form {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.mdh-expandable-search .material-icons {
  position: relative;
  right: -40px;
  margin-left: -24px;
}

.mdh-expandable-search input {
  outline: none;
  border: none;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #78909C;
  padding: 0px 35px 0px 70px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
}

.mdh-expandable-search input::-webkit-input-placeholder {
  color: #FFFFFF;
}

.mdh-expandable-search input:-moz-placeholder {
  color: #FFFFFF;
  opacity: 1;
}

.mdh-expandable-search input::-moz-placeholder {
  color: #FFFFFF;
  opacity: 1;
}

.mdh-expandable-search input:-ms-input-placeholder {
  color: #FFFFFF;
}

/* chip */
.mdl-chip {
  background-color: rgb(97, 97, 97);
}

.mdl-chip:active {
  background-color: rgb(97, 97, 97);
}

/*Cuadro dialogos*/
.mdl-dialog {
  border: none;
  box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
  width: fit-content;
}

.mdl-dialog__title {
  padding: 24px 24px 0;
  margin: 0;
  font-size: 2.5rem;
}

.mdl-dialog__actions {
  padding: 8px 8px 8px 24px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.mdl-dialog__actions>* {
  margin-right: 8px;
  height: 36px;
}

.mdl-dialog__actions>*:first-child {
  margin-right: 0;
}

.mdl-dialog__actions--full-width {
  padding: 0 0 8px 0;
}

.mdl-dialog__actions--full-width>* {
  height: 48px;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  padding-right: 16px;
  margin-right: 0;
  text-align: right;
}

.mdl-dialog__content {
  padding: 20px 24px 24px 24px;
  color: rgba(0, 0, 0, 0.54);
}

/* Ajustes */
.aju {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Select https://codepen.io/raubaca/pen/VejpQP */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
}

select::-ms-expand {
  display: none;
}

.select {
  position: relative;
  display: flex;
  width: 7em;
  height: 3em;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: .25em;
}

select {
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
}

.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #34495e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

.select:hover::after {
  color: #f39c12;
}

/* pagination https://codepen.io/anon/pen/GJXzpJ */
.pagination {
  font-size: 20px;
  text-align: center;
  display: inline-block;
}

.pagination span {
  height: 30px;
  width: 30px;
  color: rgba(0, 0, 0, .5);
  transition: color 2s;
  cursor: pointer;
  display: inline-block;
  line-height: 30px;
}

.pagination span[active] {
  background: #2196F3;
  border-radius: 50%;
  color: white;
}

.pagination span[active]:hover {
  color: white;
}

.pagination span:hover {
  color: rgba(0, 0, 0, 1);
  transition: color 2s;
}

.pagination span:first-child {
  margin-left: 10px;
}

.pagination span:last-child {
  margin-right: 10px;
}